#root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.content {
    margin: auto;
}

.counter-wrapper {
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    margin-bottom: 34px;
}

#counter {
    width: 169px;
    height: 176px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 176px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding-left: 50px;
    padding-right: 65px;
}

.btn-wrapper {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

img {
    margin: auto;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25))
}

.btn-inc {
    width: 65px;
    height: 65px;
    background: #089C20;
    border-radius: 4px;
}

.btn-dec {
    width: 65px;
    height: 65px;
    background: #E7AA10;
    border-radius: 4px;
}

.btn-res {
    width: 65px;
    height: 65px;
    background: #CF1C1C;
    border-radius: 4px;
}